<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AcademiTrack</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div>
      <h1>AcademiTrack</h1>
      <h2>Welcome to the Automation Portal</h2>
      <ul>
        <li><a href="/timetable">View Time Table</a></li>
        <li><a href="/ledger">View Ledger</a></li>
        <li><a href="/gpa">View GPA</a></li>
        <li><a href="/attendance">View Attendance</a></li>
      </ul>
    </div>
  </body>
</html>
